{% extends 'base.html' %}
<!-- {% load static %} -->

{% block 'main' %}
<!-- about start -->

<h1 class="heading mt-2 mx-auto p-2 text-decoration-underline" style="width: 400px;">About Apple</h1>
<div class="container row  mt-5 ">
    <div class="card-ms-6" style="width: 45rem;">
        <img src="https://www.slashgear.com/img/gallery/the-real-meaning-behind-apples-brand-name/l-intro-1650830667.jpg"
            class="card-img-top" alt="...">
    </div>
    <div class="card-ms-6" style="width: 35rem;">
        <div class="card-body"> <br>
            <h6 class="card-text">Apple was founded as Apple Computer Company on April 1, 1976, by Steve
                Wozniak, Steve Jobs and Ronald Wayne to develop and sell Wozniak's Apple I personal computer. It
                was incorporated by Jobs and Wozniak as Apple Computer, Inc. in 1977. The company's second
                computer, the Apple II, became a best seller and one of the first mass-produced microcomputers.
                Apple went public in 1980 to instant financial success. The company developed computers
                featuring innovative graphical user interfaces, including the 1984 original Macintosh, announced
                that year in a critically acclaimed advertisement. By 1985, the high cost of its products, and
                power struggles between executives, caused problems. Wozniak stepped back from Apple amicably
                and pursued other ventures, while Jobs resigned bitterly and founded NeXT, taking some Apple
                employees with him.!</h6>

        </div>
    </div>
</div>
<div class="container row  mt-5 ">
    <div class="card-ms-6" style="width: 45rem;">
        <div class="card-body"> <br>
            <h6 class="card-text">Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an American
                business magnate, industrial designer, media proprietor, and investor. He was the co-founder,
                chairman, and CEO of Apple; the chairman and majority shareholder of Pixar; a member of The Walt
                Disney Company's board of directors following its acquisition of Pixar; and the founder,
                chairman, and CEO of NeXT. He was a pioneer of the personal computer revolution of the 1970s and
                1980s, along with his early business partner and fellow Apple co-founder Steve Wozniak.In 1985,
                Jobs was forced out of Apple after a long power struggle with the company's board and its
                then-CEO, John Sculley. That same year, Jobs took a few Apple employees with him to found NeXT,
                a computer platform development company that specialized in computers for higher-education and
                business markets. In addition, he helped to develop the visual effects industry when he funded
                the computer graphics division of George Lucas's Lucasfilm in 1986. The new company was Pixar,
                which produced the first 3D computer-animated feature film Toy Story (1995) and went on to
                become a major animation studio, producing over 25 films since</h6>

        </div>
    </div>
    <div class="card-ms-6" style="width: 35rem;">
        <img src="https://e7w3k3a2.rocketcdn.me/wp-content/uploads/2016/02/apple-case-study-aug-2022-scaled.jpg"
            class="card-img-top" alt="...">
    </div>


</div>
<h1 class="heading mt-2 mx-auto p-2 text-decoration-underline" style="width: 200px;">Gallary</h1>
<div class="gallery">
    <div id="carouselExampleAutoplaying" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://resource.co/sites/default/files/article_teaser_image/Apple-Earth-Day-2022-new-recycling-pathways-Daisy_big_carousel.jpg.large_2x.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.macrumors.com/t/Nn2UogSWOprbtRL762UJkaCsV8c=/1600x900/smart/article-new/2020/03/cork_campus_ireland_team_members_working_on_two_floors_20171106_carousel.jpg.large_2x.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://thumbs.dreamstime.com/b/apple-store-hong-kong-busy-customers-biggest-located-ifc-mall-31780748.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
        

    <!-- end about list -->
    {% endblock 'main' %}
