{% extends 'base.html' %}
<!-- {% load static %} -->

{% block 'main' %}

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h3 class="heading bg-primary text-center p-2 text-light rounded">Add Product </h3>
            <form  method="POST" action="#">

                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="pname" class="form-label fw-bold fs-5">Product Name:</label>
                    <input type="text" name="pname" class="form-control" id="pname" placeholder=" Enter Product Name">
                </div>
                <div class="mb-3">
                    <label for="cat" class="form-label fw-bold fs-5">Select Category</label>

                    <select class="form-select" name="pcat" id="cat" aria-label="Default select example">
                        <!-- <option selected>Select Category</option> -->
                        <option value="1">Iphones</option>
                        <option value="2">Ipad</option>
                        <option value="3">Apple TV</option>
                        <option value="4">Apple Watch</option>
                        <option value="5">MacBook</option>
                        <option value="6">MacDesktop</option>
                        <option value="7">MAcBook</option>
                    </select>
                </div>
                <div class="mb-3 mt-3">
                    <label for="priceid" class="form-label fw-bold fs-5">Product Price:</label>
                    <input type="number" name="price" class="form-control" id="priceid" placeholder=" Enter Product Price">
                </div>
                <!-- radio section -->
                <div class="mb-3 mt-3">
                    <label for="radio1" class="form-label fw-bold fs-5">Product Status:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="status" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Active
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="status" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Inactive
                        </label>
                      </div>
                      <div class="mb-3 mt-4">
                        <button class="btn btn-danger" type="submit">Add Product</button>
                      </div>
                </div>

            </form>
        </div>
        <div class="col-md-8 mt-5">
            <h3 class="heading bg-primary text-center p-2 text-light rounded">View Products </h3>
            <table class="table table-hover">
                
                <tr>
                  <th>Product Name</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                {% for x in products %}
                <tr>
                    <td>{{x.name}}</td>
                    {% if x.cat == 1 %}
                    <td>Iphones</td>
                    {% elif x.cat == 2 %}
                    <td>Ipad</td>
                    {% elif x.cat == 3 %}
                    <td>Apple Watch</td>
                 
                    {% else %}
                    <td>MacDesktop</td>
                    {% endif %}

                    <td>{{x.price}}</td>
                    {% if x.status == 1 %}
                    <td class="text-success">Active</td>
                    {% else %}
                    <td class="text-danger">Inactive</td>
                    {% endif %}
                    <td><a href="/editproduct/{{x.id}}"><button class="btn btn-warning">Edit</button></a></td>
                    <td><a href="/delproduct/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock 'main' %}