{% extends 'base.html' %}
<!-- {% load static %} -->

{% block 'main' %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 my-5 mx-auto">
            {% for x in products %}
            <form method="POST" action="/editproduct/{{x.id}}">

                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="pname" class="form-label fw-bold fs-5">Product Name:</label>
                    <input type="text" name="pname" value="{{x.name}}" class="form-control" id="pname" placeholder=" Enter Product Name">
                </div>
                <div class="mb-3">
                    <label for="cat" class="form-label fw-bold fs-5">Select Category</label>

                    <select class="form-select" name="pcat" id="cat" aria-label="Default select example">
                        <!-- <option selected>Select Category</option> -->
                        {% if x.cat == 1 %}
                        <option value="1">Iphones</option>

                        {% elif x.cat == 2 %}
                        <option value="2">Ipad</option>
                        {% elif x.cat == 3 %}
                        <option value="3">Apple TV</option>


                        {% else %}
                        <option value="4">Apple Watch</option>
                        {% endif %}
                        <option value="1">Iphones</option>
                        <option value="2">Ipad</option>
                        <option value="3">Apple TV</option>
                        <option value="4">Apple Watch</option>
                        <option value="5">MacBook</option>
                        <option value="6">MacDesktop</option>
                        <option value="7">MAcBook</option>
                    </select>
                </div>
                <div class="mb-3 mt-3">
                    <label for="priceid" class="form-label fw-bold fs-5">Product Price:</label>
                    <input type="number" value="{{x.price}}" name="price" class="form-control" id="priceid"
                        placeholder=" Enter Product Price">
                </div>
                <!-- radio section -->
                <div class="mb-3 mt-3">
                    <label for="radio1" class="form-label fw-bold fs-5">Product Status:</label>
                    {% if x.status == 1 %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="status" id="radio1" checked>
                        <label class="form-check-label" for="radio1">
                            Active
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="Status" id="radio2">
                        <label class="form-check-label" for="radio2">
                            Inactive
                        </label>
                    </div>
                    {% else %}

                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="status" id="radio1" >
                        <label class="form-check-label" for="radio1">
                            Active
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="0" name="Status" id="radio2" checked>
                        <label class="form-check-label" for="radio2">
                            Inactive
                        </label>
                    </div>

                    {% endif %}
                    <div class="mb-3 mt-4">
                        <button class="btn btn-danger" type="submit">Update</button>
                    </div>
                </div>

            </form>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock 'main' %}